@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}
  
.wrapper {
    background-image: url("/img/movie.jpg");
    background-position: 50%;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    background-color: rgba(139, 227, 236, 0.5);
	overflow:hidden;
}

.main {
    width: 80%;
    height: 75%;
    background-color: rgba(60, 58, 58, 0.6);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 20vh;
}

/* form */

.randomPageFormClass {
    /* background-color: rgb(52, 51, 51, 0.6); */
    padding: 4vw 8vh;
    border-radius: 10px;
    color: white;
    font-family: 'Amatic SC', sans-serif;
}

.randomPageFormClass h2 {
    /* margin: 20px 0; */
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
}

.dropdownRow {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* dropdown menu */
.dropdownClass {
    border-radius: 4px;
    padding: 2px 3px 2px 10px;
    color: white;
    background-color: rgb(110, 182, 210);
    height: 35px;
}

label {
    font-size: 38px;
    margin-right: 20px;
    font-family: 'Amatic SC', sans-serif;
}

.buttonClass {
    margin:20px 0 40px 0;
    font-family: 'Amatic SC', sans-serif;
}

    .buttonClass button {
        font-size: 25px;
        padding: 7px 30px;
    }